#eGNsHDgmMvZ5 {
  animation: eGNsHDgmMvZ5_s_do 3000ms linear infinite normal forwards;
}
@keyframes eGNsHDgmMvZ5_s_do {
  0% {
    stroke-dashoffset: 115;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  46.666667% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
#eGNsHDgmMvZ6 {
  animation: eGNsHDgmMvZ6_s_do 3000ms linear infinite normal forwards;
}
@keyframes eGNsHDgmMvZ6_s_do {
  0% {
    stroke-dashoffset: 115;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  53.333333% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
#eGNsHDgmMvZ7 {
  animation: eGNsHDgmMvZ7_s_do 3000ms linear infinite normal forwards;
}
@keyframes eGNsHDgmMvZ7_s_do {
  0% {
    stroke-dashoffset: 115;
  }
  63.333333% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
#eGNsHDgmMvZ8 {
  animation: eGNsHDgmMvZ8_s_do 3000ms linear infinite normal forwards;
}
@keyframes eGNsHDgmMvZ8_s_do {
  0% {
    stroke-dashoffset: 115;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  75% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
#eGNsHDgmMvZ9 {
  animation: eGNsHDgmMvZ9_s_do 3000ms linear infinite normal forwards;
}
@keyframes eGNsHDgmMvZ9_s_do {
  0% {
    stroke-dashoffset: 115;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  86.666667% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
#eGNsHDgmMvZ10_ts {
  animation: eGNsHDgmMvZ10_ts__ts 3000ms linear infinite normal forwards;
}
@keyframes eGNsHDgmMvZ10_ts__ts {
  0% {
    transform: translate(114.521299px, 91.655488px) rotate(-15.268073deg)
      scale(0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  26.666667% {
    transform: translate(114.521299px, 91.655488px) rotate(-15.268073deg)
      scale(1, 1);
  }
  100% {
    transform: translate(114.521299px, 91.655488px) rotate(-15.268073deg)
      scale(1, 1);
  }
}
#eGNsHDgmMvZ14 {
  animation: eGNsHDgmMvZ14__m 3000ms linear infinite normal forwards;
}
@keyframes eGNsHDgmMvZ14__m {
  0% {
    d: path(
      "M46.849999,16.82L36.690447,18.684246L28.077349,17.052517L26.85,16.82L46.85,16.82L46.849999,16.82"
    );
  }
  20% {
    d: path(
      "M46.85,45.49L36.85,39.160653L26.85,45.49L26.85,16.82L46.85,16.82L46.85,45.49"
    );
  }
  100% {
    d: path(
      "M46.85,45.49L36.85,39.160653L26.85,45.49L26.85,16.82L46.85,16.82L46.85,45.49"
    );
  }
}
#eGNsHDgmMvZ15 {
  animation: eGNsHDgmMvZ15__sz 3000ms linear infinite normal forwards;
}
@keyframes eGNsHDgmMvZ15__sz {
  0% {
    width: 0px;
    height: 10px;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  43.333333% {
    width: 60px;
    height: 10px;
  }
  100% {
    width: 60px;
    height: 10px;
  }
}
#eGNsHDgmMvZ16 {
  animation: eGNsHDgmMvZ16__sz 3000ms linear infinite normal forwards;
}
@keyframes eGNsHDgmMvZ16__sz {
  0% {
    width: 0px;
    height: 10px;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  56.666667% {
    width: 60px;
    height: 10px;
  }
  100% {
    width: 60px;
    height: 10px;
  }
}
#eGNsHDgmMvZ17 {
  animation: eGNsHDgmMvZ17__sz 3000ms linear infinite normal forwards;
}
@keyframes eGNsHDgmMvZ17__sz {
  0% {
    width: 40px;
    height: 0px;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  30% {
    width: 40px;
    height: 40px;
  }
  100% {
    width: 40px;
    height: 40px;
  }
}
#eGNsHDgmMvZ18 {
  animation: eGNsHDgmMvZ18__sz 3000ms linear infinite normal forwards;
}
@keyframes eGNsHDgmMvZ18__sz {
  0% {
    width: 60px;
    height: 0px;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  20% {
    width: 60px;
    height: 40px;
  }
  100% {
    width: 60px;
    height: 40px;
  }
}
