@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "AfacadFlux";
  src: url("/fonts/AfacadFlux.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-weight: 400;
  font-style: normal;
  font-family: var(--font-afacad-flux), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

